/* .navbar-nav{
    display: flex;
    flex-direction: row;
} */
body, html
{ 
 
    
    background-image: url("Assets/images/white-waves.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
 } 
 .pageCont{
   min-height: 77vh;
 }
 #contactForm{
     padding: 0 15px 0 15px;
 }
    

.panel-main{
background-color:white;

}


.panel-content{
    padding: 15px;
    margin-bottom: 15px;
   
}
.mainPan{
min-height: 360px;
padding: 0 15px 0 15px;  }

.myPic{
    /* height: auto;
    width: 100%; */
    max-height: 150px;
    max-width: 150px;
}
.row.primary{
    margin-bottom: 15px;
}
.img-responsive{
    margin: 5px;    
    max-width: 100%;
    min-width: 100%;    
    height: auto;
    position: relative;
}
.bannerText{
   
        position: absolute;
        bottom: 15%;
        
        background-color: #4BA8A4;
        height: 30%;   
        width: inherit;
        /* margin-right: 25px; */
    
    right: 0; /* constrains element to right side of container */
	  left: 0; /* constrains element to left side of container*/
	  margin: 0 15px 0 15px; /* kind of a hack, but you can fix transitions with media queries */
    
    
}

.bannerInnerText{
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    position: absolute; /* child element, allows for label to move up */
    bottom: 15%; /* moves the label up from the bottom */
    right: 0; /* constrains element to right side of container */
    left: 0; /* constrains element to left side of container*/
    margin: 0 15px 0 15px; /* kind of a hack, but you can fix transitions with media queries */


}
.picCont{
    margin-right: 25px;
    width: 100%;
    height: 100%;
    margin-right: 25px;
}
.project{
    position: relative;
}
 .picBlock{
    /* width: 33.3%; */
    /* float: left; */
    
    /* list-style-type:none;
    list-style: none; */
    width: 100%;
    /* margin-right: 25px; */
  }
  .grr{
    margin-right: 25px;
  }
  .port-image{
      margin: 20px auto;
     
  }
  img {
    border: none;
    display: inline-block;
    height: auto;
   
    max-width: 100%;
    vertical-align: middle;
  }
  .navWrap{
      /* margin-right: 13%;
      padding: 0 20px 0 20px; */
  }
 
  .nameBrand{
    /* margin-left: 13%; */
    /* float: left; */
    background-color: #4BA8A4;
    color: white;
    
    /* display: block; */
    /* height: 75px; */
    /* margin-left: 0px !important; */
    text-align: center;
     
}

#nameText{
    vertical-align: middle;
color: white;}

#mainHeader{
    color: #4aaaa5;
    margin: 0;
    padding: 15px 15px 0 15px;
}

#headerSep{
    border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:lightgray;
  height: 2px;
}

ul{
    margin: 0;
}

.footer{
   
 
    min-height: 75px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    justify-content: center;
  
  
  
}

#footerText{
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    color:lightgrey;
    padding-bottom: 5px;
    padding-top:35px;
      
}

@media screen and (max-width: 980px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }
  }

  
  @media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }
  }

  
  @media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }
  }
  